/* step 1*
 Animating logo with keyframes*/
@keyframes logoAnimation {
    from {width: 25px; opacity: 0;}
    to {width: 475px; opacity: 1}
 }
/* Targeting logo*/
 #logo{
   animation: logoAnimation;
   animation-duration: 5s;
 }

/* step 2*
 Editing the body element with a poppins font and updating the background image to concrete*/
 body{
    font-family: "Poppins", serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
 }

 /* step 3*
 *Editing the css for the header tag using flex to match example*
 *Centering items, turning header into column*/
 header{
    display: flex;
    flex-direction: column;
    align-items: center;

 }
 /* step 4*
 *Editing the css the nav_links class using flex to match the example*
 *Changing display to flex*/
 .nav_links{
    display: flex;
    flex-direction: column;
 }

 /* step 5*
 styling the links so that they have the same color purple even after they have been visited.*/

   .nav_links a:link{
      color: purple;
   }
   .nav_links a:visited{
      color: purple;
   }
   .nav_links a:hover{
      color: purple;
   }
   .nav_links a:active{
      color: purple;
   }

 /* step 6*
 Styling header backgroung, padding, and border elements that are direct children of a card class.*/
 .card > header{
    background: #288088;
    border: 2px, solid, #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
 }
 /* Styling card to match the curve*/
 .card{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
 }

 /* step 7
 *Editing the css for the card class to match the example by using a flex-property*
 *Specifing an initial “size” of 450px.*/
 .card{
   display: flex;
   flex-direction: column;
   flex: 0 1 450px;
 }

  /* step 8
 Editing the css for the pricing class to match the example using flex and so the are centered both horizontally and vertically*/
 .pricing{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: stretch;
 }
  /* step 9
 Styling the images in the gallery class with a solid 10px border with a color of #50C7C7, 10px margin on all four sides and a width of 300px*/
 .gallery img{
   border: 10px, solid, #50C7C7;
   margin: 10px;
   width: 300px;
 }
 /* step 10
 Editing the css for the gallery class using flex so it matches the layout in the example*/
 .gallery{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }

/* Creating media query for screen-sizes greater than 900px */
 @media only screen and (min-width: 900px) {
/* step 11 
Editing header tag (all instances) and the nav_links class using flex-properties to make the logo  be as far to the left as possible and the links as far to the right as possible */
header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: row;
}
.nav_links{
   display: flex;
   flex-direction: row;

}
/* step 12 
Editing  the css for the pricing and card classes to match the example by using a flex-property to specify a “size” of 275px */

.pricing{
   display: flex;
   flex: 0 1 275px;
   flex-direction: row;

}

.card{
   display: flex;
   flex: 0 1 275px;
}
}
/*step #13
Modifing the first header (the one not inside main) so that it remains visible at the top of the screen even as we scroll down.  */
body > header{
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 1000;
}

/* step 14
 Creating media query if users prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
   logo {
      animation: none;
 }
}
/* step 15
 Creating media query for when the page is printed in portrait mode
 Changing the font on  body to Arial with a backup value of  Helvetica */
@media print and (orientation: portrait) {
   body {
      font-family: Arial, Helvetica;
   }
   /* step 16
   Removing background image */
   body{
      background-image: none;
   }
   /* step 17
   Editing  nav/nav_links elements so that they are spaced according to the image  */
   .nav_links{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }

   /* step 18
   Editing the pricing class so that the elements align along the bottom. */
   .pricing{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
   }
   /* step 19
   Updating the border of card elements. */
   .card{
      border: 2px, solid, #45ADDD;
      flex-basis: 325px;
   }
   /* step 20
   Making gallery invisible. */
   .gallery{
      display: none;
   }
   /* step 21
   Adding thumbs up emoji in cards after the second list item. */
   .card li:nth-child(2):after {
      content: '👍'; 
   }
}